body {
    padding-top: 30px;
}

.container {
    margin: 0 auto;
}

.card {
    margin: 0 auto;
    max-width: 25rem;
}

.btn {
    width: 100%;
}

.container-table {
    padding: 20px !important;
}